.nav-container {
  background-color: #d32f2f;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 25px;
}

.links {
  display: flex;
  flex-direction: row;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

a {
  text-decoration: none;
}

.links > a {
  text-decoration: none;
  color: rgba(255, 255, 255, .8);
  margin: 10px;
  font-size: 14px;
}

.links > a:active {
  color: white !important;
}

.links > button {
  background-color: inherit;
  border-width: 0px;
  color: rgba(255, 255, 255, .8);
  font-size: 14px;
  padding: 0px !important;
  margin: 10px;
}

.links > a:hover, button:hover, button:focus {
  color: white !important;
  font-weight: bold;
  outline: 0 !important;
}

h1 {
  color: white;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 6px;
}

.modalFooter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.modalFooter > button {
  margin: 5px;
}
